body { 
  font-family: "Roboto", sans-serif;
  align-content: center;
  text-align: center;
  background-color: #EEEEEE;
}

.botao {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  border: 1px solid #373A40;
  border-radius: 6px;
  color: #FFFFFF;
  background-color: #686D76;
  padding: 10px;
  cursor: pointer;
}

.palavra {
  margin-top: 50px;
}